.aboutContainer{
    width: 80%;
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.responsive3{
    width: 100%;
    min-height: 100vh;
    background:white;
    position: relative;
    z-index: 10;
}

.title{
    font-size:5rem;
    text-transform:uppercase;
    letter-spacing: .4rem;
    word-spacing: 1rem;
}
.title span{
    font-size:5rem;
    color: crimson;
}
.sections{
    display: flex;
}
.sectionLeft{
    width: 40%;
    margin: auto;
    padding: 5rem 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
}
.sectionLeft img{
    width: 40rem;
    box-shadow: 0 0 10px 0 black;
}
.grey{
    color: black;
    transition: all 1s ease;
}

img{
    transition: all 2s ease ;
    width:auto;
}
.sectionRight{
    width: 40%;
margin: auto;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.resumeBtn{
    background-color: transparent;
    margin-top: 5rem;
    padding: 2rem 3rem;
    font-size: 2rem;
    border: 2px solid crimson;
    cursor: pointer;
    transition: all .3s ease;
}
.desc{
    margin-top: 2rem;
    line-height: 2.7rem;
}
.resumeBtn:hover{
    background-color: crimson;
    box-shadow: 0 0 10px 0 crimson;
    cursor: pointer;
    color: white;
}
.resumeBtn:hover .grey{
    color: white;
}
.hide2{
    display: none;
    margin-top: 5rem;
}

@media only screen and (max-width: 870px)  {
    .responsive3{
        width: 100%;
        min-height: 100vh;
        background:white;
        position: relative;
        z-index: 10;
        margin: auto;
    }
    
    .aboutContainer{
        width: 90%;
        margin: auto;
    }
    .title{
        font-size:3rem;
        text-transform:uppercase;
        letter-spacing: .4rem;
        word-spacing: 1rem;
    }
    .title span{
        font-size:3rem;
        color: crimson;
    }
    .sections{
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .sectionLeft{
        width: 50%;
        margin-top:5rem;
        padding: 0;
        justify-content: center;
        align-items: center;
    }
    .sectionLeft img{
        width: 100%;
        box-shadow: 0 0 10px 0 black;
    }
    .sectionRight{
        width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    .resumeBtn{
        background-color: transparent;
        margin-top: 2rem;
        margin-bottom: 2rem;
        padding: 1rem 2rem;
        font-size: 1.5rem;
        border: 2px solid crimson;
        cursor: pointer;
        transition: all .3s ease;
    }
    .description{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .hide{
        display: none;
    }
    .hide2{
        display: block;
    }
}
