.responsive{
    width: 100%;
    min-height: 100vh;
    background-color: white;
    z-index: 100;
}
#TandT{
    width: 80%;
    min-height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section{
    display: flex;
    width: 100%;
    flex-direction: column;
}
.cubeSection{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width:80%;
    margin-top: 10rem;
    /* margin-left: 20rem; */
}
.skillsSection{
    width:100%;
    margin:auto;
    margin-top: 5rem;

}
.subTitle{
    font-size: 2.5rem;
    font-weight: 400;
}
.mb5 {
    margin: 14rem 0px 0rem -2rem;
    /* position: fixed; */
}
.homeCubeSkills {
    width: 200px;
    height: 200px;
    animation: cubeRotation 20s linear infinite alternate;
    transform-style: preserve-3d;
}

.homeCubeSkillsFaces {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    position: absolute;
    width: inherit;
    height: inherit;
    opacity: 0.9;
}

.homeCubeSkillsFaces>img {
    width: inherit;
    height: inherit;
}

.homeCubeSkillsFace1 {
    transform: translate3d(0, 0, 150px);
}

.homeCubeSkillsFace2 {
    transform: rotateY(180deg) translate3d(0, 0, 150px);
}

.homeCubeSkillsFace3 {
    transform: rotateY(-90deg) translate3d(0, 0, 150px);
}

.homeCubeSkillsFace4 {
    transform: rotateY(90deg) translate3d(0, 0, 150px);
}

.homeCubeSkillsFace5 {
    transform: rotateX(90deg) translate3d(0, 0, 150px);
}

.homeCubeSkillsFace6 {
    transform: rotateX(-90deg) translate3d(0, 0, 150px);
}

.cubeShadow {
    width: 300px;
    height: 40px;
    border-radius: 50%;
    animation: cubeShadow 1s ease-in-out infinite alternate;
    filter: blur(3px);
}
.language,.toola{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 200px;
    /* background-color: grey; */
}
.langImg,.toolImg{
    width: 80px;
}
.langName,.toolName{
    font-size: 1.5rem;
    color: grey;
}
.lang,.tool{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    transition: all .5s ease;

}
.lang:hover,.tool:hover{
    transform: translateY(-2rem);
}
@media screen and (max-width:1200px) {
    .homeCubeSkills {
        width: 150px;
        height: 150px;
    }
    .homeCubeSkillsFace1 {
        transform: translate3d(0, 0, 100px);
    }
    .homeCubeSkillsFace2 {
        transform: rotateY(180deg) translate3d(0, 0, 100px);
    }
    .homeCubeSkillsFace3 {
        transform: rotateY(-90deg) translate3d(0, 0, 100px);
    }
    .homeCubeSkillsFace4 {
        transform: rotateY(90deg) translate3d(0, 0, 100px);
    }
    .homeCubeSkillsFace5 {
        transform: rotateX(90deg) translate3d(0, 0, 100px);
    }
    .homeCubeSkillsFace6 {
        transform: rotateX(-90deg) translate3d(0, 0, 100px);
    }
    
}

@keyframes cubeRotation {
    to {
        transform: rotateY(360deg) rotateX(480deg) rotateZ(720deg);
    }
}

@keyframes cubeShadow {
    to {
        transform: scale(1.2) translateY(-10px);
    }
}

@keyframes homeskillsBoxAnimationOn {
    from {
        right: -300px;
    }
    to {
        right: 40px;
    }
}

@keyframes homeskillsBoxAnimationOff {
    from {
        right: 40px;
    }
    to {
        right: -300px;
    }
}