.responsive{
    width: 100%;
    min-height: 100vh;
    background-color: white;
    z-index: 100;
}
#TandT{
    width: 80%;
    min-height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section{
    display: flex;
    width: 100%;
    flex-direction: column;
}
.cubeSection{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width:80%;
}
.stack{
    display: flex;
    width: 20%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.skillsSection{
    width:100%;
    margin:auto;
    margin-top: 5rem;

}
.subTitle{
    font-size: 2.5rem;
    font-weight: 400;
}
.mb5 {
    margin: 14rem 0px 0rem -2rem;
    /* position: fixed; */
}
.homeCubeSkills {
    width: 170px;
    height: 170px;
    animation: cubeRotation 20s linear infinite alternate;
    transform-style: preserve-3d;
}

.homeCubeSkillsFaces {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    position: absolute;
    width: inherit;
    height: inherit;
    opacity: 0.9;
}

.homeCubeSkillsFaces>img {
    width: inherit;
    height: inherit;
}

.homeCubeSkillsFace1 {
    transform: translate3d(0, 0, 120px);
}

.homeCubeSkillsFace2 {
    transform: rotateY(180deg) translate3d(0, 0, 120px);
}

.homeCubeSkillsFace3 {
    transform: rotateY(-90deg) translate3d(0, 0, 120px);
}

.homeCubeSkillsFace4 {
    transform: rotateY(90deg) translate3d(0, 0, 120px);
}

.homeCubeSkillsFace5 {
    transform: rotateX(90deg) translate3d(0, 0, 120px);
}

.homeCubeSkillsFace6 {
    transform: rotateX(-90deg) translate3d(0, 0, 120px);
}


.language,.toola{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 200px;
    /* background-color: grey; */
}
.langImg,.toolImg{
    width: 80px;
}
.langName,.toolName{
    font-size: 1.5rem;
    color: grey;
}
.lang,.tool{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    transition: all .5s ease;

}
.lang:hover,.tool:hover{
    transform: translateY(-2rem);
}
@media screen and (max-width:800px) {
    .responsive{
        width: 100%;
        min-height: 100vh;
        background-color: white;
        z-index: 100;
    }
    .title{
        font-size: 2.5rem;
    }
    #TandT{
        width: 80%;
        min-height: 100vh;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .section{
        display: flex;
        width: 90%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .m{
        margin-top: 3rem;
    }
    .cubeSection{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        width:80%;
    }
    .stack{
        display: flex;
        width: 20%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .skillsSection{
        width:100%;
        margin:auto;
        margin-top: 5rem;
    
    }
    .subTitle{
        font-size: 1.6rem;
        font-weight: 400;
    }
    .mb5 {
        margin: 9rem 0px 5rem 0rem;
    }
    
    .homeCubeSkillsFaces {
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0 10px rgb(0, 0, 0);
        position: absolute;
        width: inherit;
        height: inherit;
        opacity: 0.9;
    }
    .language,.toola{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        min-height: 200px;
    }
    .langImg,.toolImg{
        width: 40px;
    }
    .langName,.toolName{
        font-size: 1rem;
        color: grey;
    }
    .lang,.tool{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        transition: all .5s ease;
    
    }
    .lang:hover,.tool:hover{
        transform: translateY(-2rem);
    }
    .homeCubeSkills {
        width: 150px;
        height: 150px;
    }
    .homeCubeSkillsFace1 {
        transform: translate3d(0, 0, 100px);
    }
    .homeCubeSkillsFace2 {
        transform: rotateY(180deg) translate3d(0, 0, 100px);
    }
    .homeCubeSkillsFace3 {
        transform: rotateY(-90deg) translate3d(0, 0, 100px);
    }
    .homeCubeSkillsFace4 {
        transform: rotateY(90deg) translate3d(0, 0, 100px);
    }
    .homeCubeSkillsFace5 {
        transform: rotateX(90deg) translate3d(0, 0, 100px);
    }
    .homeCubeSkillsFace6 {
        transform: rotateX(-90deg) translate3d(0, 0, 100px);
    }
    
}

@keyframes cubeRotation {
    to {
        transform: rotateY(360deg) rotateX(480deg) rotateZ(720deg);
    }
}

@keyframes cubeShadow {
    to {
        transform: scale(1.2) translateY(-10px);
    }
}

@keyframes homeskillsBoxAnimationOn {
    from {
        right: -300px;
    }
    to {
        right: 40px;
    }
}

@keyframes homeskillsBoxAnimationOff {
    from {
        right: 40px;
    }
    to {
        right: -300px;
    }
}