@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
  margin: 0;padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: white;
}
html{
  scroll-behavior: smooth;
  font-size: 10px;
}
body{
  background-color: #14021b;  
}
